<h1>This is the page to make a post</h1>

<%= form_for(:post, url: new_post_path) do |f| %>

  <p>
    <%= f.label :content %>
    <%= f.text_field :content, size: 120 %>
  </p>

  <p>
    <%= f.submit "Post !" %>
  </p>

<% end %>
